# Default values for postgresql-operator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

## Install Default RBAC roles and bindings
rbac:
  create: true

## Service account name and whether to create it
serviceAccount:
  create: true
  annotations: {}
  name:

## Let it empty to watch all namespaces
watchNamespace: ""

replicaCount: 1

image:
  repository: easymile/postgresql-operator
  tag: 3.4.0
  pullPolicy: IfNotPresent

args:
  - --leader-elect
  # - --resync-period=30s

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podSecurityContext:
  runAsNonRoot: true

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - "ALL"

startupProbe:
  httpGet:
    path: /healthz
    port: 8081
  initialDelaySeconds: 0
livenessProbe:
  httpGet:
    path: /healthz
    port: 8081
  initialDelaySeconds: 0
  periodSeconds: 20
readinessProbe:
  httpGet:
    path: /readyz
    port: 8081
  initialDelaySeconds: 0
  periodSeconds: 20

terminationGracePeriodSeconds: 10

resources:
  {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

podAnnotations: {}

grafanaDashboards:
  enabled: false
  labels:
    grafana_dashboard: "1"
  annotations: {}

prometheus:
  serviceMonitor:
    enabled: false
    labels: {}
    interval: ""
    scrapeTimeout: ""
    metricRelabelings: []
    relabelings: []
  rules:
    enabled: false
    labels: {}
    spec:
      {}
      # groups:
      #   - name: ./example.rules
      #     rules:
      #       - alert: ExampleAlert
      #         expr: vector(1)
